*{
    padding:0;
    border:0;
    margin:0;
}

li{
    list-style-type:none;
}

button{
    test-align:center;
    cursor: pointer;
}



body{
    height:1000px;
    width:1000px;
    margin:0 auto;
}

.Title{
    height:40px;
    width:600px;
    margin:40px auto 0 20%;
    padding-left: 200px;
}

h2{
    font-size: 16px;
    font-weight: bold;
}

.List{

    width: 400px;
    margin: 0 auto 0 30%;
    border: 3px solid;
    padding: 4px;
}


.open {
    height: auto;
    overflow: visible;
}


dl{
    height: 30px;
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    background: #9c0;
    margin-bottom:1px;
}

.Dt{
    height: 24px;
    width: 100%;
    border-bottom:1px solid white;
    padding-top: 6px;
    padding-left: 10px;
    cursor: pointer;
}

.s_dt{
    font-weight: bold;
    height: 14px;
    overflow:hidden;
}

.Dd{
    height: 30px;
    width: 390px;
    border-bottom:1px solid white;
    padding-left: 10px;
}

.s_dd{
    font: 400 11px/30px Tahoma;
    cursor: pointer;
}

.open {
    height: auto;
    overflow: visible;
}

.Test{
    margin-top: 20px;
    width: 1000px;
    height: 500px;
}

.test{
    display:none;
}

.testxx{
    display:block;
}

.t1btn{
    height:20px;
    width: 40px;
    text-align: center;
    border:2px solid #a0a0a0;
}

.t1fm{
    margin: 0 auto;
    width:233px;
}

.t1bg{
    height: 100px;
    width: 100px;
    background: #ccc;
    margin:10px auto 0 auto;
}

.t2main{
    height:60px;
    width: 612px;
    background:red;
    margin:0 auto;
}

.t2son{
    height:100%;
    width:200px;
    border:2px solid white;
    float:left;
}

.li{
}

.t3fm{
    width:200px;
    margin:0 auto;
}

.t3fm>input{
    width: 100px;
    height: 20px;
    border:1px solid #c0c0c0;
    display:block;
    margin-top:20px;
}

.t3fm>div{
    width:40px;
    height:20px;
    border:1px solid #a0a0a0;
    margin-top:20px;
    margin-left:30px;
    cursor:pointer;
    text-align:center;
}

.t4btn{
    width:120px;
    height:22px;
    border:1px solid #a0a0a0;
    margin: 0 auto;
    cursor:pointer;
    text-align:center;
    font-size:12px;
    padding-top:4px;
    background: #e0e0e0;
}

.t4ul{
    height:100px;
    width:400px;
    margin:10px auto;
    padding-left: 60px;
}

.t4ul>li{
    height:100px;
    width:100px;
    float:left;
    margin-left:10px;
    background: black;
}

#test7{
    padding-left: 400px;

}

.t7btn{
    height:16px;
    width: 50px;
    background: #e0e0e0;
    border:1px solid black;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
    margin-bottom: 4px;
    cursor: pointer;
}

.t7menu{
    width: 70px;
    height: 61px;
    border:1px solid #c90;
    display: none;
}

.t7menu>div{
    height: 20px;
    width: 64px;
    padding-left:6px;
    cursor: pointer;
}

.t7border{
    border-bottom:1px solid #c90;
}

.s_t7{
    font-size:14px;
}

.t25bg{
    width: 100%;
    text-align: center;
}

.t25bg>input{
    height: 24px;
    width: 60px;
    border:1px solid #c0c0c0;
}

.t25bg>button{
    height: 24px;
    width: 80px;
    border:1px solid black;
}

.s_vs{
    font-size : 14px;
    font-weight: bold;
    margin:0 5px;
}

.s_q{
    font-size: 18px;
    color: red;
}

.t24bg{
    text-align:center;
}

.t24{
    font-size: 16px;
    height: 20px;
    width: auto;
    margin:2px auto;
    border: 1px solid #c0c0c0;
}









